
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item col-md-3">
            <a href="/people" routerLink="/people" routerLinkActive="active">People</a>
        </li>
        <li class="nav-item col-md-3">
            <a href="/planets" routerLink="/planets" routerLinkActive="active">Planets</a>
        </li>
        <li class="nav-item col-md-3">
            <a href="/starships" routerLink="/starships" routerLinkActive="active">Starships</a>
        </li>
      </ul>
      </div>
  </nav>

  <select>
    <option *ngFor="let planet of planets">
      {{planet.name}}
    </option>
  </select>